

/* ChatHeader */
.header-pic {
    width: 45px;
}
/* ChatBody */
.chatbot-response .chat-pic {
    width: 30px;
}
.chat-body {
    border-radius: 20px;
    padding: 10px 5px;
    white-space: pre-line;
    max-width: 60% !important;
}

/* ChatWindow */
/* make chat body scrollable */
.scrollable {
    height: 70vh;
    overflow-y: auto;
}